<% var id, name, picture, chatOpen, chatPartner, chatHistoryOpen, mentor, en; %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-Labs</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,800;1,900&display=swap"
          rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<%- include("partials/header.ejs", {relativePath:"../", picture:picture, name:name, mentor:mentor, mentee:false}) %>

<section class="features color-section--grey-light u-vpadding">
    <div class="row row--respond">
        <h2 class="heading-secondary heading-secondary--grey-dark en">Get started</h2>
        <h2 class="heading-secondary heading-secondary--grey-dark ro">Incepe acum</h2>
        <div class="request__button">
            <a href="/u/dashboard/request" class="course no-decoration heading-secondary--grey-dark">
                <img src="../img/course.jpg" alt="" class="course__img">
                <div class="course__duration">
                    <svg class="course__icon">
                        <use xlink:href="../img/sprite.svg#icon-stopwatch"></use>
                    </svg>
                    <div class="course__time en">1:1 mentorship session</div>
                    <div class="course__time ro">1:1 sesiune de mentorat</div>
                </div>
                <div class="course__title en">Get live help</div>
                <div class="course__title ro">Primeste ajutor live</div>
            </a>
        </div>
        <h2 class="heading-secondary heading-secondary--grey-dark en">My requests</h2>
        <h2 class="heading-secondary heading-secondary--grey-dark ro">Cererile mele</h2>
        <ul class="nav__menu">
            <li class="nav__item">
                <a href="#" id="openRequests" class="nav__link"><span class="en">Open</span><span
                            class="ro">Deschise</span></a>
            </li>
            <li class="nav__item">
                <a href="#" id="closedRequests" class="nav__link"><span class="en">Closed</span><span
                            class="ro">Inchise</span></a>
            </li>
        </ul>
        <div id="requestList"></div>
    </div>
</section>

<%- include("partials/footer.ejs", {relativePath:"../"}) %>

<script src="../scripts/bundle.js"></script>
<script src="../scripts/dashboardMentee.js"></script>

<%- include("partials/chat.ejs", {relativePath:"../", chatOpen:chatOpen, chatPartner:chatPartner, chatHistoryOpen:chatHistoryOpen, mentee:true}) %>

<script src="../scripts/language.js" type="application/javascript"></script>

<% if (en === "en"){ %>
    <script>
        toggleLanguages(document.getElementById("activeLanguage").children[1].id, "en");
    </script>
<% }else{ %>
    <script>
        toggleLanguages(document.getElementById("activeLanguage").children[1].id, "ro");
    </script>
<% } %>
</body>

</html>