<% var id, name, picture, chatOpen, chatPartner, chatHistoryOpen; %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-Labs</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,800;1,900&display=swap"
          rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<%- include("partials/header.ejs", {relativePath:"../", picture:picture, name:name}) %>


<section class="features color-section--grey-light u-vpadding">
    <section class="features color-section--grey-light u-vpadding">
        <div class="row row--respond">
            <ul class="nav__menu">
                <li class="nav__item">
                    <a  id="openRequests" class="nav__link">
                        recommended requests based on your skills </a>
                </li>
                <li class="nav__item">
                </li>
            </ul>
            <div id="suggestedRequests"></div>
        </div>


    </section>

</section>

<%- include("partials/footer.ejs", {relativePath:"../"}) %>

<!-- <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script> -->
<script src="../scripts/bundle.js"></script>
<script src="../scripts/dashboardMentor.js"></script>

<!--<script src="../scripts/dashboardMentee.js"></script>-->

<%- include("partials/chat.ejs", {relativePath:"../", chatOpen:chatOpen, chatPartner:chatPartner, chatHistoryOpen:chatHistoryOpen, mentee:false}) %>

</body>

</html>