<% var loggedIn, en; %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-Labs</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<% if (!loggedIn) { %>
    <%- include("partials/header-before-login.ejs", {relativePath: "../"}) %>
<% } else { %>
    <%- include("partials/header.ejs", {relativePath: "../"}) %>
<% } %>

<section class="u-vpadding color-section--grey-light">
    <div class="row">
        <h2 class="heading-secondary heading-secondary--grey-dark ro">Informare privind prelucrarea datelor cu caracter
            personal pe website</h2>
        <h2 class="heading-secondary heading-secondary--grey-dark en">
            Information on the processing of personal data
            on the website</h2>
    </div>
</section>

<section class="u-vpadding cookie-info">
    <div class="row">
        <p class="paragraph ro">
            Informatiile prezentate in continuare au scopul de a aduce la cunostinta utilizatorului mai multe
            detalii despre plasarea, utilizarea si administrarea „cookie”-urilor utilizate de site-ul ul
            www.it-labs.ro .
        </p>
        <p class="paragraph en">
            The information presented below is intended to inform the user more
            details about the placement, use and administration of "cookies" used by the site
            www.it-labs.ro.
        </p>
    </div>
    <div class="row">
        <h2 class="heading-tertiary heading-tertiary--grey-dark ro">1. Identitatea și datele de contact ale
            platformei</h2>
        <h2 class="heading-tertiary heading-tertiary--grey-dark en">1. Identity and contact data of platform
        </h2>
        <p class="paragraph ro">
            Toate prelucrările de date cu caracter personal efectuate prin site-ul www.it-labs.ro („Site-ul”) sunt
            efectuate de către societatea S.C. IT LABS TRAINING & DEVELOPMENT S.R.L. ,cu sediul în Blv. I.
            Budai-Deleanu nr.13a, Timișoara, Județul Timiș, Romania, înregistrată la Registrul Comerțului cu nr.
            J35/4599/2019, cod unic de înregistrare RO42027656, în calitate de platformă de e-learning
            (“Platforma”).
        </p>
        <p class="paragraph en">
            All processing of personal data carried out through the site www.it-labs.ro (the “Site”) is
            performed by the company S.C. IT LABS TRAINING & DEVELOPMENT S.R.L. , based in Blv. I.
            Budai-Deleanu no.13a, Timișoara, Timiș County, Romania, registered at the Trade Register with no.
            J35 / 4599/2019, unique registration code RO42027656, as an e-learning platform
            ("Platform").
        </p>
        <p class="paragraph ro">
            Site-ul este accesibil publicului larg („Utilizatorii”) pentru informare cu privire la produsele
            societății.
        </p>
        <p class="paragraph en">
            The site is accessible to the general public ("Users") for information about the products
            society.
        </p>
    </div>
    <div class="row">
        <h2 class="heading-tertiary heading-tertiary--grey-dark ro">2. Datele de contact pentru orice solicitare
            privind protecția datelor</h2>
        <h2 class="heading-tertiary heading-tertiary--grey-dark en">2.
            Contact details for any request
            on data protection</h2>
        <p class="paragraph ro">
            Orice solicitare privind datele cu caracter personal poate fi transmisă la adresa de e-mail
            data.protection@it-labs.ro sau prin poștă la adresa Blv. I. Budai-Deleanu nr.13a, Timișoara, Județul
            Timiș, Romania în atenția desemnatului pentru protecția datelor S.C. IT LABS TRAINING & DEVELOPMENT
            S.R.L.
        </p>
        <p class="paragraph en">
            Any request for personal data can be sent to the e-mail address
            data.protection@it-labs.ro or by mail at Blv. I. Budai-Deleanu nr.13a, Timișoara, Județul
            Timiș, Romania for the attention of the data protection officer S.C. IT LABS TRAINING & DEVELOPMENT
            LLC
        </p>
    </div>
    <div class="row">
        <h2 class="heading-tertiary heading-tertiary--grey-dark ro">3. Informațiile colectate</h2>
        <h2 class="heading-tertiary heading-tertiary--grey-dark en">3. Collected information</h2>
        <p class="paragraph ro">
            Informațiile pe care le colectăm cu privire la utilizatorii Site-ului constau, în principial, în:
        </p>
        <p class="paragraph en">
            The information we collect about users of the Site consists, in principle, of:
        </p>
        <div class="list">
            <div class="list__item">
                <div class="list__title ro">informații furnizate de cookies și însemne web (adresă de IP, tip de
                    browser, pagini pe care utilizatorii au navigat, etc.);
                </div>
                <div class="list__title en">
                    information provided by cookies and web badges (IP address, type of
                    browser, pages that users have browsed, etc.);
                </div>
            </div>
            <div class="list__item">
                <div class="list__title ro">datele de identificare și de contact ale utilizatorilor (nume, telefon,
                    adresă de e-mail);
                </div>
                <div class="list__title en">identification and contact details of users (name, telephone,
                    Email Address);
                </div>
            </div>
            <div class="list__item">
                <div class="list__title ro">informații privind utilizarea Site-ului sau modul de navigare pe Site.
                </div>
                <div class="list__title en">
                    information on the use of the Site or how to navigate the Site.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="heading-tertiary heading-tertiary--grey-dark ro">4. Scopul procesării</h2>
        <h2 class="heading-tertiary heading-tertiary--grey-dark en">4. Processing purpose</h2>
        <p class="paragraph ro">
            Scopurile pentru care colectăm datele cu caracter personal sunt:
        </p>
        <p class="paragraph en">
            The purposes for which we collect personal data are:
        </p>
        <div class="list">
            <div class="list__item">
                <div class="list__title ro">furnizarea de informații vizitatorilor în urma solicitărilor făcute de
                    aceștia– litera b);
                </div>
                <div class="list__title en">
                    providing information to visitors following requests made by
                    they - point b);
                </div>
            </div>
            <div class="list__item">
                <div class="list__title ro">statistici privind traficul pe Site și activitatea utilizatorilor – litera
                    a) și c);
                </div>
                <div class="list__title en">statistics on site traffic and user activity - letter
                    a) and c);
                </div>
            </div>
            <div class="list__item">
                <div class="list__title ro">promovarea produselor și serviciilor – litera b).</div>
                <div class="list__title en">promotion of products and services - point b).</div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="heading-tertiary heading-tertiary--grey-dark ro">5. Temeiul legal</h2>
        <h2 class="heading-tertiary heading-tertiary--grey-dark en">5.
            Legal basis</h2>
        <p class="paragraph ro">
            Procesăm datele cu caracter personal în baza următoarelor temeiuri legale:
        </p>
        <p class="paragraph en">
            We process personal data based on the following legal grounds:
        </p>
        <div class="list">
            <div class="list__item">
                <div class="list__title ro">consimțământul vizitatorului – paragraful (i) de mai sus;</div>
                <div class="list__title en">
                    visitor consent - subparagraph (i) above;
                </div>
            </div>
            <div class="list__item">
                <div class="list__title ro">interesele comerciale legitime, de exemplu, prevenirea fraudelor și
                    îmbunătățirea navigabilității Site-ului; vom evalua interesele comerciale de la caz la caz
                    pentru a ne asigura că acestea nu prevalează asupra drepturilor persoanei vizate – paragraful
                     (ii) de mai sus.
                </div>
                <div class="list__title en">
                    legitimate business interests, for example, fraud prevention and
                    improving the navigability of the Site; we will assess business interests on a case-by-case basis
                    to ensure that they do not prevail over the rights of the data subject - paragraph
                    (ii) above.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="heading-tertiary heading-tertiary--grey-dark ro">6. Destinatarii sau categoriile de destinatari ai
            datelor cu caracter personal</h2>
        <h2 class="heading-tertiary heading-tertiary--grey-dark en">6.
            Recipients or categories of recipients of
            personal data</h2>
        <p class="paragraph ro">
            Putem transfera datele cu caracter personal către parteneri și colaboratori strict în scopul
            desfășurării activității comerciale. Terțele persoane către care vom transfera datele cu caracter
            personal includ:
        </p>
        <p class="paragraph en">
            We may transfer personal data to partners and collaborators strictly for the purpose
            carrying out the commercial activity. Third parties to whom we will transfer the character data
            staff include:
        </p>
        <div class="list">
            <div class="list__item">
                <div class="list__title ro">firme de analiză de date de trafic web (e.g. Google Inc.);</div>
                <div class="list__title en">web traffic data analytics companies (e.g. Google Inc.);</div>
            </div>
            <div class="list__item">
                <div class="list__title ro">servicii de livrare a poștei electronice;</div>
                <div class="list__title en">
                    e-mail delivery services;
                </div>
            </div>
        </div>
        <p class="paragraph ro">
            Transferul datelor se va face în urma unui contract de colaborare care să asigure un nivel adecvat de
            protecție a datelor cu caracter personal și care să prevadă că orice procesare se va desfășura conform
            legislației în vigoare.
            Nu vom transfera date cu caracter personal către o țară terță. Ca excepție, este posibil ca anumite date
            privind campaniile de direct marketing sau de trafic să fie transferate către persoane împuternicite
            aflate țări terțe care oferă un nivel echivalent de protecție sau către Statele Unite ale Americii
            (numai societăți înscrise în EU-US Privacy Shield).
        </p>
        <p class="paragraph en">
            The data transfer will be made following a collaboration contract that ensures an adequate level of
            protection of personal data and providing that any processing will take place in accordance with
            legislation in force.
            We will not transfer personal data to a third country. As an exception, it is possible that certain data
            on direct marketing or traffic campaigns to be transferred to authorized persons
            located in third countries that offer an equivalent level of protection or to the United States of America
            (only companies registered in the EU-US Privacy Shield).
        </p>
    </div>
    <div class="row">
        <h2 class="heading-tertiary heading-tertiary--grey-dark ro">7. Perioada de stocare</h2>
        <h2 class="heading-tertiary heading-tertiary--grey-dark en">7. Storage period</h2>
        <p class="paragraph ro">
            Vom stoca informațiile Dumneavoastră atât timp cât este cerut prin normele legale incidente în materie.
            Dacă nu există nicio cerință legală, sau dacă termenul obligatoriu legal a încetat, vom stoca datele
            doar atât timp cât este necesar în funcție de scopul pentru care au fost colectate.
        </p>
        <p class="paragraph en">
            We will store your information for as long as required by the relevant legal regulations.
            If there is no legal requirement, or if the legally binding term has expired, we will store the data
            only as long as necessary depending on the purpose for which they were collected.
        </p>
        <p class="paragraph ro">
            Cu excepția situației în care legea prevede altfel, de regulă datele vor fi prelucrate pe perioada până
            la încetarea contractului de prestare a serviciilor, plus perioada necesară până la prescripția oricăror
            obligații contractuale. Datele colectate pentru marketing direct vor fi procesate până la exercitarea
            dreptului de dezabonare.
        </p>
        <p class="paragraph en">
            Unless otherwise provided by law, the data will usually be processed for the period up to
            upon termination of the contract for the provision of services, plus the period required until the
            prescription of any
            contractual obligations. The data collected for direct marketing will be processed until the exercise
            the right to unsubscribe.
        </p>
    </div>
    <div class="row">
        <h2 class="heading-tertiary heading-tertiary--grey-dark ro">8. Drepturile persoanei vizate</h2>
        <h2 class="heading-tertiary heading-tertiary--grey-dark en">8. Visited person's rights</h2>
        <p class="paragraph ro">
            Conform Regulamentului General privind Protecția Datelor (GDPR) aveți dreptul de a solicita în orice
            moment accesul la rectificarea, ștergerea sau restricționarea procesării datelor colectate, precum și
            dreptul de a va opune prelucrării, dreptul la portabilitatea datelor.
        </p>
        <p class="paragraph en">
            According to the General Data Protection Regulation (GDPR) you have the right to request anything
            access to the rectification, deletion or restriction of the processing of the data collected, as well as
            the right to oppose the processing, the right to data portability.
        </p>
        <p class="paragraph ro">
            De asemenea, aveți dreptul de a vă adresa Autorităţii Naţionale de Supraveghere a Prelucrării Datelor cu
            Caracter Personal sau instanțelor competente, în măsura în care considerați ca v-au fost încălcate
            drepturile.
        </p>
        <p class="paragraph en">
            You also have the right to contact the National Authority for the Supervision of Data Processing with
            Personal or competent courts, insofar as you consider that they have been violated
            rights.
        </p>
    </div>
    <div class="row">
        <h2 class="heading-tertiary heading-tertiary--grey-dark"></h2>
        <p class="paragraph ro">
            ANSPDCP<br>
            B-dul G-ral. Gheorghe Magheru 28-30<br>
            Sector 1, cod postal 010336<br>
            Bucuresti, Romania<br>
            <a href="www.dataprotection.ro">www.dataprotection.ro</a><br>
            Dacă aveți o plângere cu privire încălcarea drepturilor Dumneavoastră, am prefera să ne contactați
            direct în primă instanță.<br>
            Pentru orice întrebări suplimentare cu privire la modul în care datele cu caracter personal sunt
            prelucrate și pentru a vă exercita drepturile menționate mai sus, vă rugăm să ne scrieți la adresa de
            email: data.protection@it-labs.ro.
        </p>
        <p class="paragraph en">
            ANSPDCP<br>
            B-dul G-ral. Gheorghe Magheru 28-30<br>
            Sector 1, cod postal 010336<br>
            Bucuresti, Romania<br>
            <a href="www.dataprotection.ro">www.dataprotection.ro</a><br>
            If you have a complaint about the violation of your rights, we would prefer you to contact us
            directly in the first instance. <br>
            For any further questions on how personal data are
            processed and to exercise your rights mentioned above, please write to us at
            email: data.protection@it-labs.ro.
        </p>
    </div>
    <div class="row">
        <h2 class="heading-tertiary heading-tertiary--grey-dark ro">9. Securitate</h2>
        <h2 class="heading-tertiary heading-tertiary--grey-dark en">9. Security</h2>
        <p class="paragraph ro">
            Securitatea datelor cu caracter personal este importantă pentru noi. Am luat măsuri adecvate de
            precauție de ordin administrativ, tehnic și fizic pentru a vă proteja datele cu caracter personal
            împotriva distrugerii accidentale sau ilegale, pierderii accidentale, modificării, dezvăluirii sau
            accesului neautorizat, utilizării și tuturor celorlalte forme legale de prelucrare a datelor cu caracter
            personal aflate în posesia noastră.
        </p>
        <p class="paragraph en">
            The security of personal data is important to us. We have taken appropriate measures
            administrative, technical and physical precautions to protect your personal data
            against accidental or unlawful destruction, accidental loss, alteration, disclosure or
            unauthorized access, use and all other legal forms of data processing
            personally in our possession.
        </p>
    </div>
    <div class="row">
        <h2 class="heading-tertiary heading-tertiary--grey-dark ro">10. Furnizarea datelor cu caracter personal</h2>
        <h2 class="heading-tertiary heading-tertiary--grey-dark en">10.
            Providing personal data</h2>
        <p class="paragraph ro">
            Datele furnizate de Dumneavoastră prin intermediul formularului de abonare la newsletter sau prin
            formularul de contact vor fi utilizate numai de către S.C. IT LABS TRAINING & DEVELOPMENT S.R.L. ,
            pentru transmiterea de informații și oferte comerciale. Datele colectate vor fi stocate pe o perioadă
            nedeterminată de timp. În cazul în care doriți ca datele lor să fie șterse din baza noastră de date,
            puteți face acest lucru prin butonul de dezabonare sau printr-o cerere scrisă pe adresa
            data.protection@it-labs.ro.
        </p>
        <p class="paragraph en">
            The data provided by you through the newsletter subscription form or through
            the contact form will be used only by S.C. IT LABS TRAINING & DEVELOPMENT S.R.L. ,
            for the transmission of information and commercial offers. The collected data will be stored for a period
            indefinite time. If you want their data to be deleted from our database,
            you can do this through the unsubscribe button or by a written request to the address
            data.protection@it-labs.ro.
        </p>
        <p class="paragraph ro">
            Datele cu caracter personal pe care le colectăm sunt: nume, adresă de e-mail și număr de telefon. Aceste
            date le colectăm direct de la Dumneavoastră prin completarea formularului de contact si abonarea la
            newsletter.
        </p>
        <p class="paragraph en">
            The personal data we collect are: name, e-mail address and telephone number. These
            We collect data directly from you by filling in the contact form and subscribing to
            newsletter.
        </p>
    </div>
    <div class="row">
        <h2 class="heading-tertiary heading-tertiary--grey-dark ro">11. Modificări ale documentului</h2>
        <h2 class="heading-tertiary heading-tertiary--grey-dark en">11. Document changes</h2>
        <p class="paragraph ro">
            Această Informare privind prelucrarea datelor cu caracter personal este actualizată periodic; ori de
            câte ori vom face o modificare, o vom afișa pe Site.
        </p>
        <p class="paragraph en">
            This Information on the processing of personal data is regularly updated; or
            each time we make a change, we will display it on the Site.
        </p>
        <p class="paragraph ro">
            Data ultimei actualizări: august 2020
        </p>
        <p class="paragraph ro">
            Date of last update: August 2020
        </p>
    </div>
</section>
<script src="../scripts/bundle.js"></script>
<script type="application/javascript" src="../scripts/language.js"></script>

<% if (en === "en"){ %>
    <script>
        toggleLanguages(document.getElementById("activeLanguage").children[1].id, "en");
    </script>
<% }else{ %>
    <script>
        toggleLanguages(document.getElementById("activeLanguage").children[1].id, "ro");
    </script>
<% } %>
</body>
</html>