<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-Labs</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<%- include("partials/header-before-login.ejs", {relativePath:""}) %>

<header class="header">
    <div class="row">
        <div class="grid">
            <div class="grid__6">
                <h1 class="heading-primary heading-primary--main">Next step: Confirm your email address</h1>
<!--                <div class="nav__log-in">-->
<!--                    <a href="/login" class="nav__log-in-btn">Get help now</a>-->
<!--                </div>-->
            </div>
            <div class="grid__6">
                <img class="header__img" src="img/mailSent.jpg" alt="">
            </div>
        </div>
    </div>
</header>

<%- include("partials/footer.ejs", {relativePath:""}) %>

<!-- <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script> -->
<script src="scripts/bundle.js"></script>
</body>

</html> `