<% var name, picture; %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-Labs</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,800;1,900&display=swap"
          rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<%- include("partials/header.ejs", {relativePath:"../../", picture:picture, name:name}) %>

<br><br>
<table id="sessions">
    <tr>
        <th>Mentor</th>
        <th>Start</th>
        <th>Duration</th>
        <th>Rate</th>
    </tr>
</table>
<br><br>

<%- include("partials/footer.ejs", {relativePath:"../"}) %>

<!-- <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script> -->
<script src="../scripts/bundle.js"></script>
<script src="../scripts/dashboardMentee.js"></script>
</body>

</html>