<% var phoneMessage, id, en; %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-Labs</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<%- include("partials/header-before-login.ejs", {relativePath:"../"}) %>

<section class="u-vpadding">
    <div class="login-container">
        <form id="login__form" action="/phoneConfirmation/validate-phone/<%= id %>" method="post">
            <div class="login__input__container">
                <label for="phone" class="login__label en">Phone number</label>
                <label for="phone" class="login__label ro">Numar de telefon</label>
                <div>
                    <input type="tel" id="phone" name="phone" class="login__input color-section--grey-light" required>
                </div>
            </div>
            <div class="login__input__container">
                <button id="signupButton" class="login__submit"><span class="en">Verify phone number</span><span
                            class="ro">Verifica numarul de telefon</span></button>
            </div>
            <div id="loginMessage" class="login__input__container"><%= phoneMessage %></div>
        </form>
    </div>
</section>
<%- include("partials/footer.ejs", {relativePath:"../"}) %>

<!-- <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script> -->
<script src="../scripts/bundle.js"></script>
<script type="application/javascript" src="../scripts/language.js"></script>

<% if (en === "en"){ %>
    <script>
        toggleLanguages(document.getElementById("activeLanguage").children[1].id, "en");
    </script>
<% }else{ %>
    <script>
        toggleLanguages(document.getElementById("activeLanguage").children[1].id, "ro");
    </script>
<% } %>
</body>

</html>