<% var message; %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-Labs</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<%- include("partials/header-before-login.ejs", {relativePath:"../"}) %>

<section class="u-vpadding">
    <div class="login-container">
        <div class="social-signup">
            <form method="get" action="/socialAuth/facebookSignup/m" class="RightPanel__StyledForm">
                <input type="image" name="facebook" class="RightPanel__StyledInput--facebook">
            </form>
            <form method="get" action="/socialAuth/googleSignup/m" class="RightPanel__StyledForm">
                <input type="image" name="google" class="RightPanel__StyledInput--google">
            </form>
        </div>
            <form id="login__form" action="/signupMentor" method="post">
                <div class="login__input__container">
                            <label for="name" class="login__label">Name</label>
                            <div>
                                <input type="text" id="name" name="name" class="login__input color-section--grey-light">
                            </div>
                        </div>
            <div class="signup__input__container">
                <label for="username" class="login__label">Email</label>
                <div>
                    <input type="text" id="username" name="username" class="login__input color-section--grey-light">
                </div>
            </div>
            <div class="login__input__container">
                <label for="password" class="login__label">Password</label>
                <div>
                    <input type="text" id="password" name="password" class="login__input color-section--grey-light">
                </div>
            </div>
                <div class="login__input__container">
                    <label for="repassword" class="login__label">Repeat password</label>
                    <div>
                        <input type="text" id="repassword" name="repassword" class="login__input color-section--grey-light">
                    </div>
                </div>
                <div class="login__input__container">
                    <label for="phone" class="login__label">Phone</label>
                    <div>
                        <input type="tel" id="phone" name="phone" class="login__input color-section--grey-light" required>
                    </div>
                </div>
            <div class="login__input__container">
                <button id="signupButton" class="login__submit">Sign up</button>
            </div>
            <div id="loginMessage" class="login__input__container"><%= message %></div>
        </form>
    </div>
</section>

<%- include("partials/footer.ejs", {relativePath:"../"}) %>

<!-- <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script> -->
<script src="../scripts/bundle.js"></script>
</body>

</html>