<% var message, en; %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-Labs</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<%- include("partials/header-before-login.ejs", {relativePath:"../"}) %>

<section class="u-vpadding">
    <div class="login-container">
        <div class="social-signup">
            <form method="get" action="/socialAuth/facebookSignup/u" class="RightPanel__StyledForm">
                <input type="image" name="facebook" class="RightPanel__StyledInput--facebook">
            </form>
            <form method="get" action="/socialAuth/googleSignup/u" class="RightPanel__StyledForm">
                <input type="image" name="google" class="RightPanel__StyledInput--google">
            </form>
        </div>
            <form id="login__form" action="/signupMentee" method="post">
                <div class="login__input__container">
                            <label for="name" class="login__label en">Name</label>
                            <label for="name" class="login__label ro">Nume</label>
                            <div>
                                <input type="text" id="name" name="name" class="login__input color-section--grey-light" required>
                            </div>
                        </div>
            <div class="signup__input__container">
                <label for="username" class="login__label">Email</label>
                <div>
                    <input type="email" id="username" name="username" class="login__input color-section--grey-light" required>
                </div>
            </div>
            <div class="login__input__container">
                <label for="password" class="login__label en">Password</label>
                <label for="password" class="login__label ro">Parola</label>
                <div>
                    <input type="password" id="password" name="password" class="login__input color-section--grey-light" required>
                </div>
            </div>
                <div class="login__input__container">
                    <label for="repassword" class="login__label en">Repeat password</label>
                    <label for="repassword" class="login__label ro">Repeta parola</label>
                    <div>
                        <input type="password" id="repassword" name="repassword" class="login__input color-section--grey-light" required>
                    </div>
                </div>
                <div class="login__input__container">
                    <label for="phone" class="login__label en">Phone</label>
                    <label for="phone" class="login__label ro">Telefon</label>
                    <div>
                        <input type="tel" id="phone" name="phone" class="login__input color-section--grey-light" required>
                    </div>
                </div>
            <div class="login__input__container">
                <button id="signupButton" class="login__submit en">Sign up</button>
                <button id="signupButton" class="login__submit ro">Inregistreaza-te</button>
            </div>
            <div id="loginMessage" class="login__input__container"><%= message %></div>
        </form>
    </div>
</section>
<%- include("partials/footer.ejs", {relativePath:"../"}) %>

<!-- <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script> -->
<script src="../scripts/bundle.js"></script>
<script type="application/javascript" src="../scripts/language.js"></script>
<% if (en === "en"){ %>
    <script>
        toggleLanguages(document.getElementById("activeLanguage").children[1].id, "en");
    </script>
<% }else{ %>
    <script>
        toggleLanguages(document.getElementById("activeLanguage").children[1].id, "ro");
    </script>
<% } %>
</body>

</html>