<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-Labs</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<%- include("views/partials/header-before-login.ejs", {relativePath:""}) %>

<header class="header">
    <div class="row">
        <div class="grid">
            <div class="grid__6">
                <h1 class="heading-primary heading-primary--main">Find a developer for
                    live mentorship</h1>
                <div class="nav__log-in">
                    <a href="/login" class="nav__log-in-btn">Get help now</a>
                </div>
            </div>
            <div class="grid__6">
                <img class="header__img" src="img/ilustr_crop.png" alt="">
            </div>
        </div>
    </div>
</header>

<section class="u-vpadding color-section--primary">
    <div class="row">
        <h2 class="heading-secondary heading-secondary--grey-dark" style="color: #fff;">Cum functioneaza?</h2>
    </div>

    <div class="timeline">
        <div class="timeline__item">
            <div class="timeline__container">
                <div class="timeline__text-box">
                    <h3 class="heading-tertiary">Pasul 1</h3>
                    <p class="paragraph">Pentru a beneficia de mentorat online pentru un anumit limbaj de programare,
                        mai intai trebuie
                        sa iti faci un cont de student, alegand butonul de "sign up" din meniul din partea superioara a
                        paginii.
                        In cazul in care ai mai multa experienta si vrei sa devii mentor, alege optiunea "become a
                        mentor" din acelasi meniu.

                    </p>
                </div>
            </div>
        </div>
        <div class="timeline__item">
            <div class="timeline__container">
                <div class="timeline__text-box">
                    <h3 class="heading-tertiary">Pasul 2</h3>
                    <p class="paragraph">Dupa ce studentul contacteaza mentorul dorit, ales in functie de interesele lor
                        comune, cei doi stabilesc de comun acord o viitoare sesiune online.
                        Acum incepe adevarata experienta ITLabs!
                    </p>
                </div>

            </div>
        </div>
        <div class="timeline__item">
            <div class="timeline__container">
                <div class="timeline__text-box">
                    <h3 class="heading-tertiary">Pasul 3</h3>
                    <p class="paragraph">
                        In cadrul sesiunilor de mentorat online aveti ocazia de a comunica atat in scris, cat si audio
                        si video. Mai mult decat atat,
                        veti avea la dispozitie un spatiu comun pentru scrierea de cod, dar si o tabla comuna unde
                        puteti desena.
                        Speram sa te simti in largul tau alaturi de noi. Spor la munca!
                    </p>

                </div>
            </div>
        </div>
    </div>


    </div>
</section>

<section class="u-vpadding echipa">
    <div class="row">
        <h2 class="heading-secondary heading-secondary--grey-dark">Intalneste echipa de dezvoltare a platformei</h2>
    </div>
    <div class="row">
        <div class="profiles">

            <div class="profiles__profile">
                <div class="profiles__image profiles__image--elena">
                    <div class="profiles__overlay">
                        <div class="profiles__name">Elena Gabriela Bogos</div>
                        <div class="profiles__title">studenta</div>
                    </div>
                </div>
                <div class="profiles__container">
                    <div class="profiles__description">
                        Elena este studenta la Universitatea Tehnica din Iasi, Facultatea de Automatica si Calculatoare.
                        Ii place sa ia parte la proiecte cu utilitate reala si considera ca estetica si continutul
                        site-ului sau aplicatiei sunt la fel de importante ca functionalitatea acestora.
                        Elena iubeste soarele si in timpul liber confectioneaza haine si accesorii.
                    </div>
                    <div class="profiles__media">
                        <a href="https://www.facebook.com/elenagabrielab/" class="profiles__link" target="_blank">
                            <svg class="profiles__icon">
                                <use xlink:href="img/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>


                    </div>
                </div>
            </div>

            <div class="profiles__profile">
                <div class="profiles__image profiles__image--gabi">
                    <div class="profiles__overlay">
                        <div class="profiles__name">Gabriel Dragut</div>
                        <div class="profiles__title">student</div>
                    </div>
                </div>
                <div class="profiles__container">
                    <div class="profiles__description">
                        -- descriere Gabi --
                    </div>
                    <div class="profiles__media">
                        <a href="https://www.facebook.com/gabi.dragut.m" class="profiles__link" target="_blank">
                            <svg class="profiles__icon">
                                <use xlink:href="img/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="profiles__profile">
                <div class="profiles__image profiles__image--maria">
                    <div class="profiles__overlay">
                        <div class="profiles__name">Maria Lazar</div>
                        <div class="profiles__title"> studenta</div>
                    </div>
                </div>
                <div class="profiles__container">
                    <div class="profiles__description">
                        Maria este studenta la Universitatea Babes-Bolyai din Cluj-Napoca, Facultatea de Matematica si
                        Informatica. Ii place sa invete tehnologii noi si sa isi perfectioneze continuu abilitatile de
                        programare.
                        Maria iubeste sporturile, sa calatoreasca si sa-si petreaca timpul cu prietenii.
                    </div>
                    <div class="profiles__media">
                        <a href="https://www.facebook.com/lazar.maria.39" class="profiles__link" target="_blank">
                            <svg class="profiles__icon">
                                <use xlink:href="img/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>

                    </div>
                </div>
            </div>

            <div class="profiles__profile">
                <div class="profiles__image profiles__image--silvia">
                    <div class="profiles__overlay">
                        <div class="profiles__name">Silvia Suciu</div>
                        <div class="profiles__title"> studenta</div>
                    </div>
                </div>
                <div class="profiles__container">
                    <div class="profiles__description">
                        -- descriere Silvia --
                    </div>
                    <div class="profiles__media">
                        <a href="https://www.facebook.com/profile.php?id=100004917438708" class="profiles__link"
                           target="_blank">
                            <svg class="profiles__icon">
                                <use xlink:href="img/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<%- include("views/partials/footer.ejs", {relativePath:""}) %>

<script src="scripts/bundle.js"></script>
</body>
</html>