<% var relativePath; %>
<nav class="nav">
    <!-- LOGO -->
    <a href="/" class="nav__logo">
        <img title="IT-Labs" src="<%= relativePath %>img/logo.png" alt="IT-Labs Logo">
    </a>

    <!-- MENU LINKS -->
    <ul class="nav__menu">
        <li class="nav__item">
            <a href="/signupMentee" class="nav__link ro">Inregistreaza-te</a>
            <a href="/signupMentee" class="nav__link en">Sign up</a>
        </li>

        <li class="nav__item">
            <a href="/signupMentor" class="nav__link ro">Devino mentor</a>
            <a href="/signupMentor" class="nav__link en">Become a mentor</a>
        </li>

        <!-- ACCOUNT PREFERENCES -->
        <div class="nav__account">
            <div class="languages">
                <div id="activeLanguage" class="languages__active">
                    <svg class="languages__chevron">
                        <use xlink:href="<%=relativePath%>img/sprite.svg#icon-chevron-down"></use>
                    </svg>
                    <svg id="ro" class="languages__icon">
                        <use xlink:href="<%=relativePath%>img/sprite.svg#icon-ro"></use>
                    </svg>
                </div>

                <div class="languages__dropdown">
                    <a id="otherLanguage" href="#" class="languages__link">
                        <svg id="en" class="languages__icon">
                            <use xlink:href="<%=relativePath%>img/sprite.svg#icon-uk"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="nav__log-in">
                <a href="/login" class="nav__log-in-btn ro">Conecteaza-te</a>
                <a href="/login" class="nav__log-in-btn en">Log in</a>
            </div>
        </div>
    </ul>

</nav>

