<% var relativePath; %>
<nav class="nav">
    <!-- LOGO -->
    <a href="/" class="nav__logo">
        <img title="IT-Labs" src="<%= relativePath %>img/logo.png" alt="IT-Labs Logo">
    </a>
    <form class="search" action="/search" method="post">
        <div class="search__before"><span>Search</span>{</div>
        <input class="search__input" placeholder="..." type="text"  name="q" id="" autocomplete="off">
        <div class="search__after">}</div>

    </form>

    <!-- MENU LINKS -->
    <ul class="nav__menu">
        <li class="nav__item">
            <a href="/signupMentee" class="nav__link">Sign up</a>
        </li>

        <li class="nav__item">
            <a href="/signupMentor" class="nav__link">Become a mentor</a>
        </li>

        <!-- ACCOUNT PREFERENCES -->
        <div class="nav__account">
            <div class="languages">
                <div class="languages__active">
                    <svg class="languages__chevron">
                        <use xlink:href="<%=relativePath%>img/sprite.svg#icon-chevron-down"></use>
                    </svg>
                    <svg class="languages__icon">
                        <use xlink:href="<%=relativePath%>img/sprite.svg#icon-ro"></use>
                    </svg>
                </div>

                <div class="languages__dropdown">
                    <a href="#" class="languages__link">
                        <svg class="languages__icon">
                            <use xlink:href="<%=relativePath%>img/sprite.svg#icon-uk"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="nav__log-in">
                <a href="/login" class="nav__log-in-btn">Log in</a>
            </div>
        </div>
    </ul>

</nav>
